<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/booking.css')}}"
    />
    <title>購物車</title>
  </head>
  <body>
    <header class="bar">
      <div class="dark"></div>
      <hgroup>
        <h1 class="home">
          <a href="/">台北一日遊</a>
        </h1>
        <h4 class="hgroup-title-1"><a>預定行程</a></h4>
        <h4 class="hgroup-title-2"><a onclick="login()"></a></h4>
      </hgroup>
      <div class="signin">
        <span class="member__title">
          登入會員帳號
          <img
            class="member__close"
            src="{{url_for('static', filename='img/icon_close.svg')}}"
          />
        </span>
        <div class="member__input">
          <input
            id="signin__email"
            type="email"
            placeholder="輸入電子信箱"
            name="email"
            required
          />
          <input
            id="signin__password"
            type="password"
            placeholder="輸入密碼"
            name="password"
            required
          />
          <button class="member__button">登入帳戶</button>
        </div>
        <div class="member__text" style="display: none; margin-bottom: 0"></div>
        <div class="member__text">
          還沒有帳戶？<a style="cursor: pointer">點此註冊</a>
        </div>
      </div>
      <div class="signup" style="min-height: 322px">
        <div class="member__title">
          註冊會員帳號
          <img
            class="member__close"
            src="{{url_for('static', filename='img/icon_close.svg')}}"
          />
        </div>
        <div class="member__input" style="height: 218px">
          <input
            id="signup__name"
            type="text"
            placeholder="輸入姓名"
            name="name"
            required
          />
          <input
            id="signup__email"
            type="email"
            placeholder="輸入電子信箱"
            name="email"
            required
          />
          <input
            id="signup__password"
            type="password"
            placeholder="輸入密碼"
            name="password"
            required
          />
          <button class="member__button">註冊新帳戶</button>
        </div>
        <div class="member__text" style="display: none; margin-bottom: 0"></div>
        <div class="member__text">
          已經有帳戶了？<a style="cursor: pointer">點此登入</a>
        </div>
      </div>
    </header>
    <article>
      <div class="container">
        <span class="welcome__text"></span>
        <!-- <div class="box"> -->
        <!-- <span class="box__title"></span> -->
        <!-- <span style="font-weight: 400">目前沒有任何預定行程</span>
          <div class="attraction">
            <img
              class="attraction__photo"
              src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000340.jpg"
            />
            <div class="attraction__infor">
              <span class="infor__title">台北一日遊：平安鐘</span>
              <span style="margin-bottom: 10px"
                >日期：<span class="information">2021-04-23</span></span
              >
              <span style="margin-bottom: 10px"
                >時間：<span class="information"
                  >早上 9 點到下午 4 點</span
                ></span
              >
              <span style="margin-bottom: 10px"
                >費用：<span class="information">新台幣 2000 元</span></span
              >
              <span style="margin-bottom: 10px"
                >地點：<span class="information"
                  >臺北市 大安區忠孝東路4段</span
                ></span
              >
            </div>
            <img
              class="attraction__delete"
              src="{{url_for('static', filename='img/icon_delete.svg')}}"
            />
          </div>
        </div> -->

        <!-- <div class="box">
          <span class="box__title">您的聯絡資訊</span>
          <div class="infor__input">
            <label for="contact_name">聯絡姓名：</label
            ><input type="text" id="contact_name" />
          </div>
          <div class="infor__input">
            <label for="contact_email">聯絡信箱：</label
            ><input type="text" id="contact_email" />
          </div>
          <div class="infor__input">
            <label for="phone">手機號碼：</label
            ><input type="text" id="phone" maxlength="10" />
          </div>
          <span
            >請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</span
          >
        </div>
        <div class="box">
          <span class="box__title">信用卡付款資訊</span>
          <div class="infor__input">
            <label for="card">卡片號碼：</label
            ><input type="text" id="card" placeholder="**** **** **** ****" />
          </div>
          <div class="infor__input">
            <label for="date">過期時間：</label
            ><input type="text" id="date" placeholder="MM/YY" />
          </div>
          <div class="infor__input">
            <label for="verification ">驗證密碼：</label
            ><input type="password" id="verification" placeholder="CVV" />
          </div>
        </div>
        <div class="box" style="text-align: end">
          <div style="margin-bottom: 25px">
            總價：新台幣 <span class="price">2000</span> 元
          </div>
          <button class="reserve">確認訂購並付款</button>
        </div> -->
      </div>
    </article>
    <footer>
      <div class="footer-text">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/validateMember.js')}}"
    ></script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/booking.js')}}"
    ></script>
  </body>
</html>
