<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    />
    <title>台北一日遊</title>
  </head>
  <body>
    <header class="bar">
      <div class="dark"></div>
      <hgroup>
        <h1 class="home"><a href="/">台北一日遊</a></h1>
        <h4 class="hgroup-title-1"><a href="#">預定行程</a></h4>
        <h4 class="hgroup-title-2"><a onclick="login()"></a></h4>
      </hgroup>
      <div class="signin">
        <div class="member__title">
          登入會員帳號
          <img
            class="member__close"
            src="{{url_for('static', filename='img/icon_close.svg')}}"
          />
        </div>
        <div class="member__input">
          <input
            id="signin__email"
            type="email"
            placeholder="輸入電子信箱"
            name="email"
            required
          />
          <input
            id="signin__password"
            type="password"
            placeholder="輸入密碼"
            name="password"
            required
          />
          <button class="member__button">登入帳戶</button>
        </div>
        <div class="member__text" style="display: none; margin-bottom: 0"></div>
        <div class="member__text">
          還沒有帳戶？<a style="cursor: pointer">點此註冊</a>
        </div>
      </div>
      <div class="signup" style="min-height: 322px">
        <div class="member__title">
          註冊會員帳號
          <img
            class="member__close"
            src="{{url_for('static', filename='img/icon_close.svg')}}"
          />
        </div>
        <div class="member__input" style="height: 218px">
          <input
            id="signup__name"
            type="text"
            placeholder="輸入姓名"
            name="name"
            required
          />
          <input
            id="signup__email"
            type="email"
            placeholder="輸入電子信箱"
            name="email"
            required
          />
          <input
            id="signup__password"
            type="password"
            placeholder="輸入密碼"
            name="password"
            required
          />
          <button class="member__button">註冊新帳戶</button>
        </div>
        <div class="member__text" style="display: none; margin-bottom: 0"></div>
        <div class="member__text">
          已經有帳戶了？<a style="cursor: pointer">點此登入</a>
        </div>
      </div>
    </header>
    <div class="background">
      <nav>
        <div class="nav-title">輕鬆享受台北一日悠閒</div>
        <div class="nav-text">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="nav-search">
          <input
            class="nav-search--input"
            type="text"
            onclick="insertName()"
            placeholder="輸入景點名稱查詢"
          />
          <div class="nav-container">
            <div class="nav-list"></div>
          </div>
          <button onclick="search()" class="nav-search--button">
            <img
              src="{{url_for('static', filename='img/icon_search.png')}}"
              style="height: 30px"
            />
          </button>
        </div>
      </nav>
    </div>
    <main>
      <!-- <div class="attractions-block">
        <div class="attractions-image">
          <div class="attractions-name">
            <span class="attractions-text"></span>
          </div>
        </div>
        <div class="attractions-class">
          <span class="attractions-mrt"></span>
          <span class="attractions-cat"></span>
        </div>
      </div> -->
    </main>
    <footer>
      <div class="footer-text">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
